<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    NGXS Sample
  </h1>
</div>

<h2>Simple action button where we can record driving, serious and dangerous faults</h2>

<div>
  <button>Driving fault</button>
  <button>Serious fault</button>
  <button>Dangerous fault</button>
</div>

<div>
  Selected fault type: <span>[Here will be the selected fault type]</span>
</div>

<div>
  <h3>Judgement</h3>

  <div>
    <button>Overtaking</button>
  </div>
  
  <div>
    Driving faults: <span>[Here will be the number of driving faults]</span>
  </div>
  
  <div>
    Serious faults: <span>[Here will be the number of serious faults]</span>
  </div>
  
  <div>
    Dangerous faults: <span>[Here will be the number of dangerous faults]</span>
  </div>    
</div>
